/* Colors */
:root {
  --primary: #f49097;
  --secondary: #DFB2F4;
  --third: #F5E960; 
}


/*Footer basic CSS*/
footer {
    background:deepskyblue;
    width: 99%;
    padding: 10px 5px;
    object-position: bottom;
  }
  
  footer h2 {
    display: inline;
    color:black;
    font-size: 14px;
    margin: 0;
  }
  
  footer div {
    line-height: 1;
    text-align: left;
    float: right;
  }
  
  footer a {
    color:red;
  }

  
