/* Header styles */
header {
  padding: 30px;
  margin-bottom: 40px;
}

header h1{
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 20px;
  line-height: 45px;
  font-family: "Sophia";
}

header h2 {
  font-size: 25px;
}

/*Footer basic CSS*/
footer {
    width: 100%;
    padding: 10px 5px;
    object-position: bottom;
    position: fixed;
    bottom: 0;
  }
  
  footer h2 {
    display: inline;
    color:black;
    font-size: 14px;
    margin: 0;
  }
  
  footer div {
    line-height: 1;
    text-align: left;
    float: right;
  }
  
  footer a {
    color:red;
  }

  
